.block-nodes {
    h2 {
        margin-bottom: $block-margin-base;
    }

    .block-news-read-more-btn {
        float: right;
        transform: translateY(10px);
    }

    .block-node-item {
        display: block;
        border-radius: 5px;
        overflow: hidden;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        box-shadow: 0 0 0 rgba($primary,.2);
        border-bottom: 3px solid $primary;

        .block-node-image {
            position: relative;

            figure {
                margin: 0;
            }

            .block-node-date {
                display: block;
                position: absolute;
                right: 15px;
                top: 15px;
                font-size: 10px;
                line-height: 1;
                color: $text-muted;
                background-color: #fff;
                padding: 6px 7px 6px 20px;
                border-radius: 3px;
                box-shadow: 0 0 4px rgba(0,0,0,.1);

                &:before {
                    @include font-awesome-icon("\f133", 10px);
                    @include vertical-align-center-absolute();
                    left: 7px;
                }
            }
        }

        .block-node-info {
            padding: 15px 15px 10px 15px;

            .block-node-title {
                font-size: 21px;
                color: #000;
                font-weight: 700;
                line-height: 1.4;
                margin-bottom: 10px;
                transition: .12s all;
            }

            .block-node-description {
                color: $body-color;
                margin-bottom: 10px;
            }

            .block-node-details {
                display: block;
                position: relative;

                &:before {
                    @include font-awesome-icon("\f054", 20px);
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }

            .block-node-read-more {
                border-top: 1px solid #ddd;
                margin: 10px 0 0 0;
                padding-top: 10px;
                position: relative;
                display: block;
                text-align: right;
                padding-right: 30px;

                &:before {
                    @include font-awesome-icon("\f1ea", 16px);
                    @include vertical-align-center-absolute();
                    right: 5px;
                    top: 63%;
                }
            }
        }

        &:hover {
            transform: translateY(-6px) scale(1.01);
            box-shadow: 0 0 10px rgba(0,0,0,.1);

            .block-node-info {
                .block-node-title {
                    color: $primary;
                }
            }
        }
    }
}
