.block {
    margin: $block-margin-base 0;

    h2 {
        font-weight: 900;
        color: #000;
        font-size: 46px;
        line-height: 1;
        margin-bottom: $block-text-margin-bottom;
    }

    .lead {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        color: $primary;
        margin-bottom: $block-text-margin-bottom / 2;
    }

    $max: 100;
    $step: 10;

    @for $i from 1 through ceil($max/$step) {
        $value: ($i - 1) * $step;
        &.block-margin-#{$value} {
            margin-bottom: #{$value}px;
            margin-top: #{$value}px;
        }
        &.block-margin-top-#{$value} {
            margin-top: #{$value}px;
        }
        &.block-margin-bottom-#{$value} {
            margin-bottom: #{$value}px;
        }
    }
}
