.navbar {
    width: $content-width;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .logo {
        display: block;
        font-weight: 900;
        font-size: 33px;
        color: #fff;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .navbar-nav {
        .nav-link {
            display: block;
            padding: 0 15px;
            height: 42px;
            line-height: 42px;
            color: #fff;
            font-weight: bold;
            margin: 0 10px;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $primary;
            }
        }

        .nav-item:last-child {
            .nav-link {
                padding-right: 0;
            }
        }

        .submenu .nav-link {
            padding: 8px 15px;
        }
    }

    ul,
    li {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        height: 42px;
        line-height: 42px;

        &:before {
            display: none;
        }

        &.active {
            > a {
                color: $primary;
            }
        }
    }

    .navbar-nav-hoverable .submenu {
        background-color: $header-color-bg;
    }
}

body.body-scrolled {
    .navbar {
        .logo {
            font-size: 25px;
        }
    }

    .navbar-nav-hoverable .submenu {
        background-color: $header-color-bg-filled;
    }
}
