@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'reset';
@import 'mixins';
@import 'parts/button';
@import 'parts/navbar';
@import 'parts/hero';
@import 'parts/footer';
@import 'parts/terms';
@import 'parts/nodes';
@import 'parts/breadcrumbs';
@import 'parts/homepage';
@import 'parts/blocks-framework/blocks';
@import 'parts/blocks/reset';
@import 'parts/blocks/what-we-do';
@import 'parts/blocks/call-to-action';
@import 'parts/blocks/services';
@import 'parts/blocks/services-light';
@import 'parts/blocks/company-in-numbers';
@import 'parts/blocks/nodes';

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 200;
    padding: 15px;
    background-color: $header-color-bg;
    transition: $transition;
}

body.homepage header {
    background-color: transparent;
    padding: 30px 15px;
}

body.body-scrolled header {
    background-color: $header-color-bg-filled;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    padding: 10px 15px;
}

.header-pillow {
    height: 79px;
    margin-bottom: $header-margin;
}

.tulia-container-max-width {
    max-width: $content-width + ($content-gutter * 2);
    padding-left: $content-gutter;
    padding-right: $content-gutter;
    margin: 0 auto;
}
