:root {
    --tulia-lisa-header-bg: #333;
}

header {
    z-index: 200;
    background-color: var(--tulia-lisa-header-bg);
    transition: .32s all;

    .navbar {
        background-color: transparent;

        .logo {
            display: block;
            font-weight: 900;
            font-size: 22px;
            color: #fff;
            line-height: 1;
            padding: 7px 0;

            &:hover,
            &:focus {
                color: var(--bs-primary);
            }
        }

        .language-switcher {
            width: 40px;
        }
    }

    .hamburger {
        padding: 15px 0 6px;
    }

    .header-menu {
        display: none;
        margin: 0;
        width: 100%;
        align-items: center;
    }
}

.header-pillow {
    height: 75px;
}

@include media-breakpoint-up(md) {
    header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 200;
        box-shadow: 0 0 10px rgba(0,0,0,.4);

        .navbar {
            .logo {
                font-size: 28px;
            }
        }
    }

    body.body-scrolled.body-scrolled-down {
        header {
            top: -80px;
        }
    }
}
