.navbar {
    --bs-navbar-nav-link-padding-x: 10px;
}

.tulia-navbar.navbar-nav {
    li {
        &.active {
            > a {
                color: var(--bs-primary);
            }
        }
    }

    .nav-link {
        color: #fff;

        &:hover,
        &:focus {
            text-decoration: none;
            color: var(--bs-primary);
        }
    }
}

.tulia-navbar-layout-horizontal .submenu {
    background-color: var(--tulia-lisa-header-bg);
}

@include media-breakpoint-up(md) {
    .navbar {
        --bs-navbar-nav-link-padding-x: 22px;
    }
}
